@import '~mdb-ui-kit/css/mdb.min.css';


td {
    font-weight: 700;
    font-size: initial;    
}
.container {
    margin: 3em 3em auto;
}

td .btn-success {
    margin: 1px 15px 1px 1px!important;
}
.container-fluid {
    margin-top: 3em!important;
}
