<form (ngSubmit)="onSubmit(formdata)" #formdata="ngForm">

  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="form6Example1">Имя</label>
      <div class="col-sm-10">
        <input type="text" id="form6Example1" name="name" class="form-control" [(ngModel)]="addingForm.name" required />
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="form6Example2">Логин</label>
      <div class="col-sm-10">
        <input type="text" id="form6Example2" name="username" class="form-control" [(ngModel)]="addingForm.username" />
      </div>
    </div>
    <!-- Email input -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="form6Example5">Почта</label>
      <div class="col-sm-10">
        <input type="email" id="form6Example5" name="email" class="form-control" [(ngModel)]="addingForm.email"
          required />
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-1">
        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-dark">Добавить</button>
      </div>
    </div>
  </div>

</form>